<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NVDAResman</string>
	<key>CFBundleGetInfoString</key>
	<string>NVDAResman 1.6.6.25 (18.9.0f08)</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.NVDAResman</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NVIDIA Resman Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>NVidiaRM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.NVDAResman</string>
			<key>IOClass</key>
			<string>NVDA</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<array>
				<string>MNCA,GeForce2MX</string>
				<string>NVDA,NVMac</string>
			</array>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>NVidiaRMPCIMatch</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.NVDAResman</string>
			<key>IOClass</key>
			<string>NVDA</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatched</key>
			<string>NVDA,NVMac</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x011010de&amp;0xfff8ffff 0x017010de&amp;0xfff8ffff 0x017910de 0x018010de&amp;0xfff8ffff 0x018810de 0x018910de 0x020010de&amp;0xfff8ffff 0x025010de&amp;0xfff8ffff 0x028010de&amp;0xfff8ffff 0x030010de&amp;0xfff8ffff 0x031010de&amp;0xfff8ffff 0x031910de 0x034910de 0x05e010de&amp;0xfff8ffff 0x05f010de&amp;0xfff0ffff</string>
			<key>IOProbeScore</key>
			<integer>50000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>name</key>
				<string>display</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>NVidiaRMTwinView</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.NVDAResman</string>
			<key>IOClass</key>
			<string>NVDA</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<array>
				<string>MNCA,GeForce2MX</string>
				<string>NVDA,NVMac</string>
			</array>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IONDRVDevice</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.2.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.5</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.5</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.4</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
